<div class="col-md-3 col-lg-3 col-md-offset-2 col-lg-offset-2 toppad" style="font-size: 24px; font-weight: bold;">
    <span>Helps you in maintaining collection of materials available for borrowing by members of a group, yet not maintained or owned by a single user.</span>
</div>
