<h3> Groups </h3>
<div class="col-md-4">
  {{#link-to 'groups.new' class="btn btn-primary"}} Add new group {{/link-to}}
  {{outlet}}
</div>
<table class="table">
  <thead>
    <th> Name </th>
    <th> Action </th>
  </thead>
  <tbody>
  {{#each group in groups}}
  <tr>
    <td>{{#link-to 'members' group.id}} {{group.name }} {{/link-to}}</td>
    <td>
      {{group-action group=group user_groups=user_groups deleteGroup='deleteGroup' joinGroup='joinGroup' leaveGroup='leaveGroup'}}
    </td>
  </tr>
  {{/each}}
  </tbody>
</table>
