<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad well login">
  <h3> Login to Distributed Library System</h3>
  {{#bs-form formLayout="horizontal" model=this action="submit"}}
  {{bs-form-element controlType="email" label="Email" placeholder="Email" property="email"}}
  {{bs-form-element controlType="password" label="Password" placeholder="Password" property="password"}}
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      {{bs-button defaultText="Submit" type="primary" buttonType="submit"}}
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-4 col-md-8">
      {{#link-to 'signup'}} Sign up? {{/link-to}}
    </div>
  </div>
  {{/bs-form}}
</div>
